.profilebox {
    background-color: #f1efe5;
    margin: 5px;
    padding: 15px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    max-width: 150px;
    border-radius: 50%;
}