html, body {
	scroll-behavior: smooth;
  margin:0;
  padding:0;
}

nav {
  position: fixed;
  padding: 2em;
  background: #ccc;
}

.draw {
  background: yellow;
  height: 200vh;
  width: 200vw;
  position: relative;
}

.item {
  position: absolute;
  padding: 2em;
  background: rebeccapurple;
}

#item1 {
  top: 600px;
  right: 40px;
}

#item2 {
  top: 1200px;
  right: 300px;
}